<li>
  <%= gravatar_for user, size: Settings.images.avatar_size_in_all_users %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    <%= t("users.space_with_delete") %>
    <%= link_to t("users.delete_user"), user, method: :delete,
      data: { confirm: t("users.confirm_delete_user") } %>
  <% end %>
</li>
